html{
    height: 100%;
}
body{
    margin: 10px;
    height: 100%;
}

header{
    background-color: lightseagreen;
    height: 20%;
    text-align: center;
}



h2{
    color: dimgrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-top: 4%;
}

#titre{
    margin: auto;
    padding: 25px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

#main-menu{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

#main-menu img{
    width: 100%;
}

/* pages menus---------------------------------------------------------------------*/

table{
    width: 100%;
}

.prix{
    text-align: right;
}

/*pagemenu1*/

#note{
    background-color: #FBDFDC;
    margin: 0% 5%;
    padding: 2% 5%;
}

#titre-note{
    color: chocolate;
    font-family: cursive;
    font-size: 4em;
    margin: 0;
}

#note > figure, h3, h4{
    text-align: center;
    margin: 0;
}

#note > h4{
    font-size: 3em;
    font-family: cursive;
    color: chocolate;
    margin: 2%;
}

#note > h4::before, h4::after{
    content:'';
    width:3em;
    border-bottom: chocolate solid;
    display:inline-block;
    vertical-align:middle;
}

#note > table{
    font-family: cursive;
    font-size: 2em;
    color: chocolate;
}

/*pagemenu2*/

#chic{
    background-color: #FDF5FE;
    margin: 0% 5%;
    padding: 2% 5%;  
}

#titre-chic{
    color: #925CF8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    margin: 0;
}

#chic > h3, h4{
    text-align: center;
    margin: 4%; 
}

#chic > h4{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
}

#entrees > h4::before, #entrees > h4::after{
    content:'';
    width:3em;
    border-bottom: #DC8628 solid;
    display:inline-block;
    vertical-align:middle;
}

#entrees{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #DC8628;  
    margin: 3%;
}

#plats > h4::before, #plats > h4::after{
    content:'';
    width:3em;
    border-bottom: #C0787F solid;
    display:inline-block;
    vertical-align:middle;
}

#plats{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #C0787F;  
    margin: 3%;

}

#desserts > h4::before, #desserts > h4::after{
    content:'';
    width:3em;
    border-bottom: #925CF8 solid;
    display:inline-block;
    vertical-align:middle;
}

#desserts{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #925CF8;
    margin: 3%;

}
/*pagemenu3*/

#delice{
    background-color: #F9F9F9;
    margin: 0% 5%;
    padding: 2% 5%;    
}

#delice > h3, h4{
    text-align: center;
    margin: 3%; 
}

#delice > h3{
    font-family: cursive;
    color: #143FDD;
    font-size: 4em;
}

#delice > h4{
    font-size: 2em;
    font-family: cursive;
    color: black;
    margin: 2%;
}

#delice > h4::before, #delice > h4::after{
    content:'';
    width:3em;
    border-bottom: #143FDD solid;
    display:inline-block;
    vertical-align:middle;
}

#delice > table{
    font-family: cursive;
    font-size: 1em;
    color: black;
}


/*pagemenu4*/

#palette{
    background-color: #FDFFFD;
    margin: 0% 5%;
    padding: 2% 5%;     
}

#palette > h3, h4{
    text-align: center;
    margin: 3%; 
}

#palette > h3{
    font-family: cursive;
    color: #42963D;
    font-size: 4em;
}

#palette > h4{
    font-size: 2em;
    font-family: cursive;
    color: black;
    margin: 2%;
}

#palette > h4::before, #palette > h4::after{
    content:'';
    width:3em;
    border-bottom: #42963D solid;
    display:inline-block;
    vertical-align:middle;
    
}

#palette > h4::before{
    text-align: center;
}





#palette > table{
    font-family: cursive;
    font-size: 1em;
    color: black;
}
/*boutons---------------------------------------------------------------------------------*/

button{
    font-size: 1.8em;
    padding: 1% 5%;
    background-color: lightseagreen;
    color: orange;
    font-family: sans-serif;
    border-radius: 12px;
}

#prochainement{  
    text-align: center;
}



/*footer démarre ici---------------------------------------------------------------------*/

footer{
    padding: 2% 2%;
    background-color: lightseagreen;
    position: fixed;
    bottom: 0;
    width: 94.4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

footer > a{
    color: orange;
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
}

/*responsivité*/

@media screen and (min-width: 577px) {
    #main-menu{
        display: flex;
        flex-direction: row;
    }

    #main-menu a{
        width: 40%;
        padding: 5%;
    }
    main{
        margin-bottom: 10%;
    }
    
}


@media screen and (max-width: 576px) {
    #main-menu{
        display: flex;
        flex-direction: column;
    }

    #main-menu a {
        width: 65%;
        padding-top: 5%;
        align-self: center;
    }

    main{
        margin-bottom: 20%;
    }
    #prochainement{
        margin-top: 5%;
    }
}
